body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}


/*  Navbar  */
.navbar{
    height:5rem;
    background-color: white;
}

.fa-compass{
    color:red;
    font-size: 2rem;
}

.nav-link{
    color:black !important;
}

/* Footer */
.f-info-links a{
    text-decoration:none;
    color: #222222;
 
}

.f-info-links,
.f-info-socials , .f-info-brand{
    width:100%;
    display:flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.f-info-links a:hover{
    text-decoration:underline;

}



.f-info-socials i{
    font-size: 1.2;
    margin-right: 1rem;
    
}

.f-info{
    text-align:center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content:center;
    align-items:space-evenly;
    /* margin-top: auto; */
}

/*  custom stylings for my cards */
.listing-card{
    border:none;
    margin-bottom:2rem ;
}

/* .card-img-top{
    border-radius: ;
    width:100% !important;
    object-fit: cover !important;
} */
.card-img-top {
    width: 100%;
    /* height: 250px;           optional but recommended */
    object-fit: cover;
    border-radius: 20px;     /* rounded rectangle */
}


.card-body{
    padding: 0;

}
.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
 
/*New Page*/
.add-btn{
    background-color: red !important;
    border:none !important;
}

/*Edit Page*/
.edit-btn{
    background-color: red !important;
    border:none !important;
    height:40px !important;
    text-align: center !important;
}

/* Show feImage */
.show-img{
    height:30vh;

}

.btns{
    display:flex;
}

.show-card{
    padding-left:0;
    padding-right:0;
}

/*map */
#map { 
    height: 400px;
    width:80vh;
 }